@import 'tailwindcss';

@import "@fontsource/space-grotesk/400.css";
@import "@fontsource/space-grotesk/700.css";

/* Define custom font face for Nanospaceland */
@font-face {
    font-family: 'Nanospaceland';
    src: url('/fonts/NaNSpaceland-VF.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@import "@fontsource/comfortaa/400.css";
@import "@fontsource/comfortaa/700.css";

@theme {
    --color-dark: #111111;
    --color-dark-alt: #252525;
    --color-accent: #AE895D;
    --color-light-text: #F5F5F5;
    --color-medium: #AE895D;
    --color-light: #B09B86;
    --color-surface-alt: #343735;

    --font-family-sans: "Space Grotesk", sans-serif;
    --font-family-display: "Nanospaceland", sans-serif;

    --breakpoint-2xl: initial;
}

html,
body,
#root {
    @apply h-dvh;
    font-family: var(--font-family-sans);
    background-color: var(--color-dark);
    color: var(--color-light-text);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Global H1 and H2 styles with Nanospaceland font */
h1 {
    font-family: var(--font-family-display);
    /* Add other base h1 styles if needed, e.g., text-4xl font-bold mb-4 etc. */
    /* These will be default and can be overridden by utility classes */
}

h2 {
    font-family: var(--font-family-display);
    /* Add other base h2 styles if needed, e.g., text-3xl font-semibold mb-3 etc. */
}